*{
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(
  to bottom,
  rgba(0,0,0,0.85),
  rgba(0,0,0,0.2),
  rgba(0,0,0,1)
);

  font-family: Arial, Helvetica, sans-serif;
}

.card{
    width: 320px;
    text-align: center;
    border-radius: 5px;
    margin: auto auto;
    margin-top: 15%;
    padding: 10px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card img{
    width: 100%;
}

.navbar{
    position: relative;
    padding: 40px;
    background-color: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.netflix_logo{
    width: 11%;
    position: absolute;
    top: 2vh;
    left: 6vw;
    z-index: 1;
}

.signin_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 6%;
}

.signin_container_s1 h1{
    margin-bottom: 8px;
}

.signin_container_s1 h4{
    margin-bottom: 16px;
}

.signin_container_s1 input{
    background-color: #1C1213;
    width: 100%;
    padding: 20px;
    margin: 5px 0px;
    border: none;
    border-radius: 5px;
    color: white;
}

.signin_container_s1 button{
    background-color: red;
    font-size: larger;
    color: white;
    width: 110%;
    padding: 15px;
    margin: 16px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer{
    background-color: #161616;
    padding: 70px;
    color: white;
    margin-top: 200px;
}

.footer_desc{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-basis: 30%;
    flex-grow: 3;
    align-items: center;
    flex-wrap: wrap;
    gap:50px;
    text-decoration: underline;
    cursor: pointer;
}

/*Media Quries*/

@media (max-width:1200px){
    .netflix_logo{
        width: 18%;
    }
}

@media (max-width: 800px) 
{ 
    .netflix_logo{
        width: 22%;
        position: absolute;
        top: 2vh;
        left: 6vw;
        z-index: 1;
    }
    .signin_container{
        margin-left: 10%;
        margin-right: 2%;
    }
    
    .signin_container_s1 input{
        width: 75%;
    }
    .signin_container_s1 button{
        width: 84%;
    }
}

